In [68]:
import pandas as pd
import re

In [69]:
script_df = pd.read_csv('scripts.csv',index_col=[0],encoding='utf-8')

,Character,Dialogue,EpisodeNo,SEID,Season
0,JERRY,Do you know what this is all about? Do you kno...,1,PILOT,1
1,JERRY,"(pointing at Georges shirt) See, to me, that b...",1,PILOT,1
2,GEORGE,Are you through?,1,PILOT,1
3,JERRY,"You do of course try on, when you buy?",1,PILOT,1
4,GEORGE,"Yes, it was purple, I liked it, I dont actuall...",1,PILOT,1

In [70]:
Character = []
Dialogue = []
EpisodeNo = []
SEID = []
Season = []


for character in script_df['Character']:
    Character.append(character)
for dialogue in script_df['Dialogue']:
    Dialogue.append(dialogue)
for episodeno in script_df['EpisodeNo']:
    EpisodeNo.append(episodeno)
for seid in script_df['SEID']:
    SEID.append(seid)
for season in script_df['Season']:
    Season.append(season)

In [72]:
#remove data containing ('% ','[') or beginning with '('
#remove spaces in rows with ('MR. ','MRS. ',' #','DR. ','UNCLE ','AUNT ')
#split on the space keeping first half in rows with ('(','&',',') and no "'s "
#remove data with lowercase letters
script_names = []

for character in Character:
    
    if r'%' in character:
        script_names.append('')
        
    elif re.findall("^[[]",character):
        script_names.append('')
    
    elif re.findall("^[(]",character):
        script_names.append('')
    
    elif '/' in character:
        script_names.append(character.split('/')[0])
    
    elif ' #' in character:
        script_names.append(character.replace(' #','#'))
    
    elif 'LT. ' in character:
        script_names.append(character.replace('LT. ',''))
    
    elif 'MRS ' in character:
        script_names.append(character.replace('MRS ',''))
    
    elif 'MR ' in character:
        script_names.append(character.replace('MR ',''))
    
    elif 'MR. ' in character:
        script_names.append(character.replace('MR. ',''))
        
    elif 'MRS. ' in character:
        script_names.append(character.replace('MRS. ',''))    
    
    elif 'AUNT ' in character:
        script_names.append(character.replace('AUNT ',''))
    
    elif 'UNCLE ' in character:
        script_names.append(character.replace('UNCLE ',''))
    
    elif 'DR. ' in character:
        script_names.append(character.replace('DR. ',''))
    
    elif ',' in character:
        script_names.append(character.split(",")[0])
        
    elif r'(' in character:
        script_names.append(character.split('(')[0])
    
    elif "'S" in character:
        script_names.append(character)
    
    else:
        script_names.append(character.split(' ')[0])

In [73]:
#repeat to cull more unclear names
script_names2 = script_names
script_names = []
for character in script_names2:
    
    if r'%' in character:
        script_names.append('')
        
    elif re.findall("^[[]",character):
        script_names.append('')
    
    elif re.findall("^[(]",character):
        script_names.append('')
    
    elif '/' in character:
        script_names.append(character.split('/')[0])
    
    elif ' #' in character:
        script_names.append(character.replace(' #','#'))
    
    elif 'LT. ' in character:
        script_names.append(character.replace('LT. ',''))
    
    elif 'MRS ' in character:
        script_names.append(character.replace('MRS ',''))
    
    elif 'MR ' in character:
        script_names.append(character.replace('MR ',''))
    
    elif 'MR. ' in character:
        script_names.append(character.replace('MR. ',''))
        
    elif 'MRS. ' in character:
        script_names.append(character.replace('MRS. ',''))    
    
    elif 'AUNT ' in character:
        script_names.append(character.replace('AUNT ',''))
    
    elif 'UNCLE ' in character:
        script_names.append(character.replace('UNCLE ',''))
    
    elif 'DR. ' in character:
        script_names.append(character.replace('DR. ',''))
    
    elif ',' in character:
        script_names.append(character.split(",")[0])
        
    elif r'(' in character:
        script_names.append(character.split('(')[0])
    
    elif "'S" in character:
        script_names.append(character)
    
    else:
        script_names.append(character.split(' ')[0])

In [74]:
#prepare to set up the df and verify that the lists are the same length
script_dict = {
    'Character':script_names,
    'Dialogue':Dialogue,
    'EpisodeNo':EpisodeNo,
    'SEID':SEID,
    'Season':Season
}

print(len(SEID))
print(len(script_names))
print(len(Dialogue))
print(len(Season))
print(len(EpisodeNo))

In [80]:
#create the new scripts csv
script_df = pd.DataFrame(script_dict)

script_df.to_csv('scripts_cleaner.csv')

In [67]:
#create the list of unique cleaned names to match with actor-character and export to csv
unique_script_names = []
for name in script_names:
    if name.upper() not in unique_script_names:
        unique_script_names.append(name.upper())

uniques_dict = {
    'Unique_script_names':unique_script_names
}

uniques_df = pd.DataFrame(uniques_dict)

uniques_df.to_csv('uniques.csv')

907